html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
}
body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.1;
  color: var(--slate-900);
  text-align: center;
  min-height: 100vh;
}
.main {
  padding: 2rem;
}
.header {
  margin-top: 3rem;
}
.hero__img {
  display: block;
  width: 108%;
  height: auto;
  transform: translateX(-1rem);
  margin-top: 4rem;
}
.hero {
  margin: 3rem 2rem 2rem 2rem;
}
.hero__title {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: 900;
}
.hero__text {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--slate-600);
  margin: 1.5rem 0;
}
.button {
  display: inline-block;
  padding: 16px 40px;
  border: 1px solid black;
  border-radius: 29px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 900;
  text-decoration: none;
}
/* 



.content {
  padding: 2rem;
}
.footer {
  padding-bottom: 4rem;
}
 */
